// Landing page buttons
.button{
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 1.0;
  border-radius: 50px;
  border: 3px solid #fff;
  background-color: transparent;
  font-weight: 400;
  font-size: 1.2em;
  color: #fff;
  margin: 50px 30px 10px 30px;
  padding-bottom: 200px;
  transition-duration: 800ms;
  &:hover{
    background-color: rgb(31, 31, 31);
    transition-duration: 700ms;
    color: #fff;
    border-color: rgb(31, 31, 31);
  }
  a{
    text-decoration: none;
  }
  @include mq($md){
    font-size: 1.7em; 
    margin-top: 100px;
  }
  @include mq($xl){
    margin-top: 500px;
  }

  // Button one
  &.one{
    padding: 10px 110px;
    color: #000;
    background-color: #fff;
    @include mq($md){
      padding: 10px 100px;
      margin-top: 0;
    }
    @include mq($lg){
      padding: 8px 50px;
    }
    &:hover{
      background-color: rgb(31, 31, 31);
      color: #fff;
    }
  }

  // Button two
  &.two{
    padding: 10px 120px;
    @include mq($lg){
      padding: 8px 65px;
    }
  }
}

