// Landing page buttons
#buttons{
  a{
    text-decoration: none;
  }
  padding-bottom: 200px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include mq($sm){
    display: block;
  }
  @include mq($md){
    font-size: 1.7em; 
    margin-top: 500px;
  }
  @include mq($xl){
    padding-bottom: 400px;
  }
}

.button{
  opacity: 1.0;
  border-radius: 50px;
  border: 3px solid #fff;
  background-color: transparent;
  transition-duration: 800ms;
  font-weight: 400;
  font-size: 1.2em;
  color: #fff;
  margin: 10px 30px;
  &:hover{
    background-color: rgb(31, 31, 31);
    transition-duration: 700ms;
    color: #fff;
    border-color: rgb(31, 31, 31);
  }

  &.one{
    padding: 10px 85px;
    color: #000;
    background-color: #fff;
    @include mq($md){
      padding: 10px 100px;
      margin-top: 0;
    }
    @include mq($lg){
      padding: 8px 50px;
    }
    &:hover{
      background-color: rgb(31, 31, 31);
      color: #fff;
    }
  }
  &.two{
    padding: 10px 95px;
    @include mq($md){
      padding: 10px 120px;
    }
    @include mq($lg){
      padding: 8px 65px;
    }

  }

  a:before{
    text-decoration: none;    
    // color: #fff;
  }
  a{
    &:link{
      text-decoration: none;
      // color: white;
    }
    &:hover{
      // color: white;
    }
    &:active{
      // color: white;
    }
    &:visited{
      color: #000;
    }
  }
}

