#projects{
  padding-top: 80px;
  background-color: #ffffff;
  text-align: center;
}
.projects{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2em;
  justify-content: center;
    border-radius: 35px;
}

.card{

  &-background{
    background-color: #E3E3E3;
    // display: flex;
    // justify-content: center;
    padding: 20px 0;
    margin: 20px 15px 0px 15px;
  }
  height: 320px;
  width: 350px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0 rgb(0, 0, 0, 0.1);
  background-color: #fff;

  &-description{
    color: #7B7B7B;
    text-align: center;
    font-size: 0.9em;
    padding: 20px;
  }
}