#projects{
  padding-top: 80px;
  background-color: #ffffff;
  text-align: center;
}
.projects{
  display: flex;
  overflow-x: auto;
  width: 100vw;
  margin: 20px;
  padding-bottom: 2em;
  justify-content: space-between;
  border-radius: 35px;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

}

.card{
  flex-direction: column;
  min-width: 360px;
  height: 480px;
  margin: 20px 10px;
  padding: 10px 30px 40px 30px;
  border-radius: 15px;
  // box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.596);
  background-color: #333333;
  &:nth-child(1){
    background-color: #F7C1C1;
  }
  &:nth-child(2){
    background-color: #DCC1F7;
  }
  &:nth-child(3){
    background-color: #E2E2E2;
  }
  &:nth-child(4){
    background-color: #C1DEF7;
  }
  &:nth-child(5){
    background-color: #F7F7C1;
  }
  &:nth-child(6){
    background-color: #C1F7C9;
  }
}