#projects{
  padding-top: 80px;
  background-color: #ffffff;
  text-align: center;
}
.projects{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 2em;
  justify-content: center;
  border-radius: 35px;
}

.card{
  width: 360px;
  margin: 20px auto;
  padding: 10px 20px 40px 20px;
  border-radius: 35px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.596);
  background-color: #333333;
}