 /* ----------------------- Grid ----------------------- */
.grid-container{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-areas:

    "nav"
    "header"
    "main"
    "footer";

  @include mq($lg){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 45px 1fr 1fr 120px;

    grid-template-areas:
     "nav nav nav nav"
     "header header header header"
     "main main main main"
     "footer footer footer footer";
  }
}

header{
  grid-area: header;
  background-color: #292929;
}

nav{
  grid-area: nav;
  background-color: rgb(41, 41, 41);
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  height: 120px;
  background-color: #292929;
  
}
#about{
  // margin-top: 50px;
  // background-color: #f4f4f4f4;


  .container{
    width: 100%;
    // margin: 0 auto;
    @include mq($sm){

      position: relative;
      // background-color: #fff;

    }
  }
}
// Websites
#websites {
  max-width: 100%;
  margin: 0;
  // anchor tag offset to correct position when clicking link
  &::before{
    display: block;
    content: " ";
    margin-top: -45px;
    height: 45px;
    visibility: hidden;
    pointer-events: none;
  }
}
.websites{
  padding: 0 20px;
}