// icons in footer
footer ul{
  text-align: center;
  list-style-type: none;
  padding: 0;
  li{
    display: inline-block;
  }
}
a{
  &.social{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 5px 0;
    opacity: 0.5;
    transition: 0.6s;
  }
  &.twitter{
    background-image: url("../img/twitter.svg");
  }
  &.github{
    background-image: url("../img/github.svg");
  }
  &:hover{
    opacity: 1.0;
  }
}

// change button position using padding on other elments for less than 375px
.icon{
  @include mq($sm){
    width: 200px;
  }
  width: 150px;
  padding-top: 50px;
}

#image-icon{
  padding-top: 55px;
  @include mq($sm){
    padding-top: 45px;
  }
  @include mq($md){
    padding-top: 25px;
  }
}
#wheel-icon{
  padding-top: 40px;
  @include mq($sm){
    padding-top: 50px;
  }
}
#memory-icon{
  padding-top: 40px;
  @include mq($sm){
    padding-top: 50px;
  }
}
#dashboard-icon{
  padding-top: 70px;
  @include mq($md){
    padding-top: 50px;
  }
}
#employee-icon{
  padding-top: 35px;
  @include mq($sm){
    padding-top: 50px;
  }
}
#form-icon{
  @include mq($sm){
    padding-top: 50px;
  }
}


footer .copyright{
  color: #efefef;
  text-align: center;
  top: -8px;
  position: relative;
}
