/* ----------------------- Images ----------------------- */

// Background and Overlay in header
#background{
  background-image: url("../img/city.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: 100vh;
  z-index: -1;
}
#overlay{
  // background-image: linear-gradient(60deg, rgb(206, 206, 206), rgb(82, 192, 255));
  background-image: linear-gradient(60deg, rgb(255, 175, 101), rgb(233, 95, 95));
  // height: 100vh;
  opacity: 0.9;
}

// Project card images
.card{
  img{
    width: 95%;
    border-radius: 5px;
    opacity: 1.0;
  }
}

// Main profile pic
#pic{
  width: 100%;
  margin-bottom: 0;
  opacity: 0.95;
  @include mq($lg){
    width: 50%;
    z-index: -1;
    position: sticky;
    top: 45px;
    float: right;
  }
}

// Website section
.website-image{
  width: 280px;
  @include mq($xi){
    width: 340px;
  }
  @include mq($sm){
    width: 390px;
  }
  @include mq($md){
    width: 800px;
  }
  // border-radius: 10px;
  // box-shadow: 0 10px 25px 2px rgba(219,219,219,0.5);
  transition: box-shadow, transform 200ms ease-in-out;
  &:hover{
    // box-shadow: 0 10px 30px 3px rgba(100,100,100,0.5);
    // transform: translate(0px,-5px);
    cursor: pointer;
  }
}