.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &-drop {
    font-size: 1rem;
    color: rgb(71, 71, 71);
    height: 100vh;
    width: 100%;
    position: absolute;
    display: none;
    color: #fff;
    z-index: 1000;
    top: 46px;

    @include mq($md) {
      right: 25px;
      top: 3px;
    }

    @include mq($md) {
      padding-top: 10px;
      display: block;
      position: relative;
      color: rgb(109, 109, 109);
      width: 100%;
      height: 20px;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;

    @include mq($md) {
      display: block;
      text-align: center;
    }

    a{
      text-align: center;
      padding: 10px;
      font-size: 1.2em;
 
      @include mq($xs) {
        font-size: 0.8em;
        border: none;
        padding: 15px 10px;

        &:nth-of-type(5) {
          padding-bottom: 35px;
        }
      }

      @include mq($md) {
        padding: 5px 10px;
        margin: 0 4%;

        &:nth-of-type(5) {
          padding-bottom: 5px;
        }
      }

      &:link {
        text-decoration: none;
        color: white;
      }

      &:hover {
        color: white;
      }

      &:active{
        color: white;
      }

      &:visited {
       color: rgb(255, 255, 255);
      }
    }
  }
}

.nav-button {
  transition: all .6s ease-in-out;
  
  &:hover {
    background-color: rgb(97, 97, 97);

    @include mq($md) {
      border-radius: 4px;
    }
  }
}

#hamburger {
  float: right;
  // margin: 5px 15px;
  padding: 10px;
  height: 45px;
  width: 45px;

  @include mq($md){
    display: none;
  }
  
  &:hover {
    cursor: pointer;
  }
}

.line {
  padding: 1px 0;
  margin: 5px 0;
  width: 24px;
  background-color: rgb(230, 230, 230);
}

#logo {
  font-size: 1.5em;
  color: #fff;
  margin: 0 10px;
  padding: 10px 7px;
  float:left;
}