* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h1{
  text-align: center;
  font-size: 2.9em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 6px;
 
  @include mq($md){
    font-size: 6.0em;
    margin-bottom: 40px;
  }
  @include mq($lg){
    font-size: 6.0em;
    padding: 0 27px;
  }


}

h2{
  color: #000;
  @include mq($md){
    text-align: left;
  }

}

#welcome {
  padding: 100px 20px 0;
  height: 100vh;
  opacity: 1.0;
  z-index: 1000;
  color: #fff;
  text-align: center;
  @include mq($md){
    padding-top: 20px;
  }
  h2{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;

    font-weight: 900;
    @include mq($md){
      font-size: 2.0em;
    }
    @include mq($lg){
      font-size: 2.2em;
    }
  }
}

#language-icons{
  list-style-type: none;
  padding-left: 0;
  li{
    display: inline-block;
    padding: 2px 10px;
    margin: 0 2px;
    font-size: 0.7em;
    @include mq($md){
      font-size: 1.2em;
      margin: 0 5px;
    }
    @include mq($lg){
      font-size: 1.3em;
    }
  }
}
span{
  color: #fff;
}


.info{

  // box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.116);
  // padding: 20px 0;
  // border-radius: 15px;
  // margin-bottom: 40px;
  width: 100%;
  h2{
    color: #000;
    text-align: center;
    margin: 0;
    padding: 50px 0;

    font-size: 2.1em;
    font-weight: 900;
  }
  p{
    padding: 20px 35px;
    font-size: 1.1em;
    font-weight: 100;
    margin-top: 10px;
    color: #000;
  }
  @include mq($lg){
    width: 90%;
  }
}
.me {
  // background-image: linear-gradient(to bottom, rgb(255, 175, 101), rgb(233, 95, 95));
  padding-bottom: 40px;
  span{
    font-weight: 600;
    color: #000;
  }
}

.languages{
  background-color: #fff;
  h2{
   color: #000;
  }
  ul{
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-weight: 100;
    font-size: 1.3em;

    li{
      margin: 15px;
      padding-right: 20px;
      &:nth-child(1){
        padding-right: 60px;
      }
      &:nth-child(-n+3){
        font-weight: 600;
      }
    }
  }
}

.skills{
  background-color: #5c5c5c;
  padding-bottom: 40px;
  h2{
    color: #fff;
  }
  p{
    color: #fff;
  }
  span{
    font-weight: 600;
    padding: 0 5px;
    background: linear-gradient(120deg, #99999960, #3b3b3b21);
    border-radius: 5px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.116);
  }
}

// Projects cards
.card{
  h3 {
    text-align: center;
    font-weight: 400;
    font-size: 1.6em;
    color: #ffffff;
    // text-transform: uppercase;
  }
  &-description{
    color: #ffffff;
    text-align: center;
    font-size: 0.9em;
    padding: 20px;
  }
}