* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h1{
  text-align: center;
  font-size: 2.9em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 6px;
 
  @include mq($md){
    font-size: 6.0em;
    margin-bottom: 40px;
  }
  @include mq($lg){
    font-size: 6.0em;
    padding: 0 27px;
  }


}

h2{
  color: #000;
  @include mq($md){
    text-align: left;
  }

}

#welcome {
  padding: 100px 20px 0;
  height: 100vh;
  opacity: 1.0;
  z-index: 1000;
  color: #fff;
  text-align: center;
  @include mq($md){
    padding-top: 20px;
  }
  h2{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;

    font-weight: 900;
    @include mq($md){
      font-size: 2.0em;
    }
    @include mq($lg){
      font-size: 2.2em;
    }
  }
}

#language-icons{
  list-style-type: none;
  padding-left: 0;
  li{
    display: inline-block;
    padding: 2px 10px;
    margin: 0 2px;
    font-size: 0.7em;
    @include mq($md){
      font-size: 1.2em;
      margin: 0 5px;
    }
    @include mq($lg){
      font-size: 1.3em;
    }
  }
}
span{
  color: #fff;
}

// About section 
.info{
  width: 100%;
  h2{
    left: 20px;
    padding-left: 50px;
    margin-bottom: 0;
    @include mq($lg){
 
      &:nth-child(2){
        position: absolute;
      }
      font-size: 4em;
      display: absolute;
      font-weight: 600;
    }
  }
  // name
  p{
    &:nth-of-type(1){
      margin-top: 0;
      font-size: 2em;
      font-weight: 900;
      padding-left: 70px;
      @include mq($lg){

        font-size: 4em;
        display: absolute;
        padding-top: 130px;
        padding-left: 70px;
        margin-bottom: 0;
      }
    }  
    &:nth-of-type(2){
      @include mq($lg){
        padding-left: 70px;
      }
    }    
  }
  h3{
    color: #000;
    text-align: center;
    margin: 0;
    padding: 50px 0 0 0;
    font-size: 2.1em;
    font-weight: 900;
    @include mq($lg){
      text-align: left;
      padding-left: 70px;
    }
  }
  p{
    padding: 20px 70px;
    font-size: 1.1em;
    font-weight: 100;
    margin-top: 10px;
    color: #000;
    &:nth-of-type(2){
      @include mq($lg){
        padding-top: 0px;
        margin-top: 0px;
        font-size: 2em;
      }
    }
  }
  // @include mq($lg){
  //   width: 90%;
  // }
}
.me {

  padding-bottom: 40px;
  span{
    font-weight: 600;
    color: #000;
  }
  @include mq($lg){
    position: relative;
    width: 55%;
  }
}

.more-info {
  h2{
    padding-top: 50px;
    padding-bottom: 20px;

  }
}
.languages{
  // background-color: #fff;
  h3{
   color: #000;

  }
  ul{
    margin: 0 auto;
    padding: 0 60px 50px 60px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    font-weight: 100;
    font-size: 1.1em;
    @include mq($lg){
      width: 40%;
      text-align: left;
      padding: 20px 0;
      margin: 0 70px;
      display: block;
    }

    li{
      margin: 15px 0px;
      padding: 10px;
      @include mq($xs){
        font-size: 1.2em;
      }
      @include mq($lg){
        padding: 0 10px;
      }

      &:nth-child(-n+3){
        font-weight: 600;
      }
    }
  }
}

.skills{
  // background-color: #5c5c5c;
  // background-color: #fff;
  padding-bottom: 40px;
  h3{
    color: #000;
  }
  p{
    color: #000;
  }
  ul{

    text-align: center;
    font-weight: 600;
    padding: 0 5px;
    @include mq($lg){
      text-align: left;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding-left: 70px;
      list-style: none;
    }
    li{
      padding: 10px;
    }
  }
}

// Projects cards
#projects h3{
  font-size: 2.1em;
}

.card{
  h4 {
    text-align: left;
    font-weight: 400;
    font-size: 1.6em;
    color: #000;
    padding-left: 10px;
    // text-transform: uppercase;
  }
  &-description{
    color: #000;
    text-align: left;
    font-size: 0.9em;
    padding: 5px;
  }
}