/* ----------------------- Mixins ----------------------- */

@mixin mq($size){
  @media (min-width: $size){
    @content;
  }
}

@mixin mqsmall($size){
  @media (max-width: $size){
    @content;
  }
}