/* ----------------------- Variables ----------------------- */
// media query screen sizes
$xs: 321px; // iphone 5 to X
$xi: 360px; // iphone xs
$sm: 412px; // iPhone Plus/Max sizes
$md: 768px; // iPad
$md-lg: 820px; // iPad Air
$lg: 1024px; // iPad Pro
// $xl: 1285px; // Desktop
$xl: 1441px;

// colors
$main: #000;
$secondary: red;
