// media query screen sizes
$xs: 321px; // iphone 5 to X
$xi: 360px; // iphone xs
$sm: 414px; // iPhone Plus/Max sizes
$md: 768px; // iPad
$lg: 1024px; // iPad Pro
$xl: 1285px; // Desktop

// colors
$main: #000;
$secondary: red;
